body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  color: #333;
}

header {
  background-color: #0B666A;
  color: white;
  padding: 20px 0;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}



.container {
  max-width: 1200px;
  margin: 0 auto;
  padding-top: 50px;
}

.hero-section {
  text-align: center;
  color: #0B666A;
  background-color: #F0F0F0;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hero-section h2 {
  color: #0B666A;
  margin-top: 0;
}

.hero-section p {
  font-size: 18px;
  line-height: 1.5;
  color: #555;
}

.cta-button {
  display: inline-block;
  background-color: crimson;
  color: #fff;
  padding: 15px 30px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #850303;
}

.features-section {
  text-align: center;
  margin-top: 50px;
  background-color: #f9f9f9;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.features-section h2 {
  color: #0B666A;
}

.features-section ul {
  list-style: none;
  padding: 0;
}

.features-section li {
  margin-bottom: 15px;
}

.features-section li::before {
  content: "\2022";
  color: crimson;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.footer {
  background-color: #0B666A;
  color: #fff;
  text-align: center;
  padding: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.footer a {
  color: #fff;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
  header {
    padding: 15px 0;
  }

  .container {
    padding-top: 30px;
  }

  .hero-section {
    padding: 20px;
  }

  .cta-button {
    font-size: 16px;
    padding: 12px 25px;
  }

  .features-section {
    margin-top: 30px;
    padding: 30px;
  }
}

/*  */
.logincontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.login-section {
  text-align: center;
  color: #0B666A;
  background-color: #F0F0F0;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-section h2 {
  color: #0B666A;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-form label {
  margin-top: 10px;
  font-size: 18px;
  color: #0B666A;
}

.login-form input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-form button {
  background-color: crimson;
  color: #fff;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-form button:hover {
  background-color: #850303;
}

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.signup-section {
  text-align: center;
  color: #0B666A;
  background-color: #F0F0F0;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signup-section h2 {
  color: #0B666A;
}

.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup-form label {
  margin-top: 10px;
  font-size: 18px;
  color: #0B666A;
}

.signup-form input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.signup-form button {
  background-color: crimson;
  color: #fff;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signup-form button:hover {
  background-color: #850303;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0B666A;
  padding: 10px 20px;
  color: white;
}

.navbar-brand {
  flex: 1;
}

.logo {
  font-size: 24px;
  color: white;
  text-decoration: none;
}

.menu-icon {
  display: none;
  cursor: pointer;
}

.menu-icon.open .menu-line {
  background-color: white;
}

.menu-icon .menu-line {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px 0;
  transition: background-color 0.3s;
}

.menu {
  display: flex;
  list-style: none;
}

.menu li {
  margin-right: 20px;
}

.menu a {
  text-decoration: none;
  color: white;
  font-size: 18px;
}

@media screen and (max-width: 768px) {
  .menu-icon {
    display: block;
  }

  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #0B666A;
    padding: 20px;
    border-radius: 5px;
  }

  .menu.open {
    display: flex;
  }
}

.logout-button {
  background-color: crimson;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  transition: background-color 0.3s;
}

.logout-button:hover {
  background-color: #850303;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 30px;
  box-shadow: rgba(38, 57, 77, 0.9) 0px 4px 10px 2px;
  font-size: 100px;
}

@media screen and (max-width: 768px) {
  .card {
    font-size: 60px;
    border-radius: 20px;
    box-shadow: rgba(38, 57, 77, 0.7) 0px 2px 6px 1px;
  }
}

@media screen and (max-width: 768px) {
  div {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .card {
    width: 100%;
    margin-right: 0;
    height: auto;
  }

  p {
    margin-top: 10px;
  }
}

.sexy-button:hover {
  background: linear-gradient(45deg, #FF8E53, #FF6B6B);
  transform: scale(1.05);
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}

#div-right::before {
  content: "";
  height: 75%;
  position: absolute;
  width: 35%;
  right: 1.5vw;
  /* left: 65vw; */
  background: linear-gradient(45deg,
      #FF8E53,
      #FF6B6B);
  z-index: -1;
  border-radius: 20px;
}


#div-left::before {
  content: "";
  height: 75%;
  position: absolute;
  width: 35%;
  left: 1.5vw;
  background: linear-gradient(45deg,
      #5384ff,
      #FF6B6B);
  z-index: -1;
  border-radius: 20px;
}